<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog ninja | <%= title %></title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=noto+serif:wgth@400;700&display=swap');
        body{
            max-width: 1200px;
            margin: 20px auto;
            padding: 0 20px;
            font-family: noto serif;
            max-width: 1200px;
        }
            p,h1,h2,h3,a,u{
                margin: 0;
                padding: 0;
                text-decoration: none;
                color: #222;
            }
        nav li{
            list-style-type: none;
            margin-left: 20px;
        }
        nav ul{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
    nav p,nav a{
        color:#777;
        font-weight: 300;

   }
   .create-blog form{
       max-width: 400px;
       margin: 0 auto;
   }

   .create-blog input,
   .create-blog-textarea{
       display: block;
       width: 100%;
       margin: 10px 0;
       padding: 8px;
   }
   .create-blog label{
       display: block;
       margin-top: 24px;
   }
   textarea{
       height: 120px;
   }

   .create-blog button{
       margin-top: 20px;
       background: crimson;
       color: white;
       padding: 6px;
       border: 0;
       font-size: 1.2em;
       cursor: pointer;
   }

        
    </style>
</head>
<body>
    
</body>
</html>